{
  "metrics-addr" : "0.0.0.0:9323",
  "experimental" : true,
{% if zero_orchestrator == "kubernetes!" %}
  "exec-opts": ["native.cgroupdriver=systemd"],
{% endif %}
{% if backplane_enabled|bool %}
  "log-driver": "loki:latest",
  "log-opts": {
      "loki-url": "http://127.0.0.1:3100/loki/api/v1/push",
      "loki-batch-size": "400",
      "max-size": "50m",    
      "max-file": "5",
      "loki-min-backoff": "10s",
      "loki-retries": "5",
      "loki-timeout": "5s",
      "loki-batch-wait": "5s"
  },
{% endif %}
  "debug": false
}