process_names:
{% raw %}  
  - name: "{{.Comm}}"
{% endraw %}
    cmdline:
    - '.+'
  - comm:
    - chromium-browse
    - bash
    - prometheus
    - gvim
  - exe:
    - /sbin/upstart
    cmdline:
    - --user
    name: upstart:-user