version: '3.7'

services:
  smtp:
    image: "{{ images.smtp }}"
    environment:
      MAILDEV_OUTGOING_HOST: "{{ zero_smtp_server }}"
      MAILDEV_OUTGOING_PORT: "{{ zero_smtp_port }}"
      MAILDEV_OUTGOING_USER: "{{ zero_smtp_username }}"
      MAILDEV_OUTGOING_PASS: "{{ zero_smtp_password }}"
      MAILDEV_AUTO_RELAY: 1
      MAILDEV_INCOMING_USER: "{{ admin_user }}"
      MAILDEV_INCOMING_PASS: "{{ admin_password }}"
      MAILDEV_WEB_USER: "{{ admin_user }}"
      MAILDEV_WEB_PASS: "{{ admin_password }}"
    networks: 
      - smtp
      - proxy
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
      placement:
        constraints: 
        - node.platform.os == linux
      labels:
        traefik.enable: "true"
        traefik.tags: "proxy"
        traefik.docker.network: "proxy"
        traefik.port: "80"
        traefik.frontend.rule: "Host: maildev.{{ platform_domain }}"
        traefik.backend: "zero-app-maildev"
        traefik.protocol: "http"
{% if letsencrypt_enabled|bool %}
        traefik.frontend.entryPoints: "http,https"
        traefik.frontend.headers.SSLRedirect: "true"
{% else %}
        traefik.frontend.entryPoints: "http"
{% endif %}
        traefik.backend.loadbalancer.stickiness: "true"
        traefik.frontend.auth.basic.users: "{{admin_user}}:{{admin_password_hash}}"

networks:
  smtp:
    driver: overlay
    attachable: true
    name: smtp
  proxy:
    driver: overlay
    external: true