version: '3.7'

services:
  smtp:
    image: "{{ images.smtp }}"
    environment:
      SMARTHOST_ADDRESS: "{{ zero_smtp_server }}"
      SMARTHOST_PORT: "{{ zero_smtp_port }}"
      SMARTHOST_USER: "{{ zero_smtp_username }}"
      SMARTHOST_PASSWORD: "{{ zero_smtp_password }}"
      SMARTHOST_ALIASES: "*.{{ platform_domain }}"
      MAILNAME: "{{ platform_domain }}"
    networks: 
      - smtp
    deploy:
      mode: replicated
      replicas: 1
      update_config:
        parallelism: 1
        delay: 60s
        monitor: 30s
        order: start-first
        failure_action: rollback
      restart_policy:
        condition: on-failure
      placement:
        constraints: 
        - node.platform.os == linux

networks:
  smtp:
    driver: overlay
    attachable: true
    name: smtp