[Unit]
Description=loki
After=network-online.target

[Service]
Type=simple
User={{ _loki_system_user }}
Group={{ _loki_system_group }}
ExecStart={{ _loki_binary_install_dir }}/loki \
        -config.file {{ app_dir }}/loki-config.yml

SyslogIdentifier=loki
Restart=always
RestartSec=1
StartLimitInterval=0

[Install]
WantedBy=multi-user.target