version: '3.7'

services:
  build:
    image: gitlab/gitlab-runner:alpine
    networks: 
      - gitlab-runner
      - monitoring
    volumes: 
      - gitlab-runner-data:/etc/gitlab-runner
    deploy:
      mode: global
      update_config:
        parallelism: 1
        delay: 60s
        monitor: 30s
        order: stop-first
        failure_action: rollback
      restart_policy:
        condition: on-failure
      placement:
        constraints: 
        - node.platform.os == linux
      labels:
        prometheus.enable: "true"
        prometheus.port: "8080"
        prometheus.path: "/metrics"

  deploy:
    image: gitlab/gitlab-runner:alpine
    networks: 
      - gitlab-runner
      - monitoring
    volumes: 
      - gitlab-runner-data:/etc/gitlab-runner
      - /var/run/docker.sock:/var/run/docker.sock
    deploy:
      mode: global
      update_config:
        parallelism: 1
        delay: 60s
        monitor: 30s
        order: stop-first
        failure_action: rollback
      restart_policy:
        condition: on-failure
      placement:
        constraints: 
        - node.platform.os == linux
      labels:
        prometheus.enable: "true"
        prometheus.port: "8080"
        prometheus.path: "/metrics"

networks:
  gitlab-runner:
  monitoring:
    driver: overlay
    external: true

volumes:
  gitlab-runner-data:
{% if zero_data == "storidge" %}
    driver: cio
    driver_opts: 
      profile: "SNAPSHOT"
{% endif %}