[Unit]
Description=process_exporter
After=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart={{ apollo_binary_dir }}/process_exporter \
    -config.path={{ app_dir }}/process_exporter.yml

SyslogIdentifier=process_exporter
Restart=always
RestartSec=1
StartLimitInterval=0

[Install]
WantedBy=multi-user.target