global:
  scrape_interval:     15s
  evaluation_interval: 15s

  external_labels:
    monitor: 'prometheus'

remote_write:
  - url: http://victoria:8428/api/v1/write

rule_files:
  - "swarm_node.rules.yml"
  - "swarm_task.rules.yml"

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - alertmanager:9093

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
    
{% if backplane_enabled|bool %}
  - job_name: 'cadvisor'
    dns_sd_configs:
    - names:
      # This A-Record is managed by Docker Swarm
      - 'tasks.cadvisor'
      type: 'A'
      port: 8080
  
  - job_name: 'victoria'
    dns_sd_configs:
    - names:
      # This A-Record is managed by Docker Swarm
      - 'tasks.victoria'
      type: 'A'
      port: 8428

  - job_name: 'trickster'
    dns_sd_configs:
    - names:
      # This A-Record is managed by Docker Swarm
      - 'tasks.trickster'
      type: 'A'
      port: 8481

  - job_name: 'node-exporter'
    dns_sd_configs:
    - names:
      # This A-Record is managed by Docker Swarm
      - 'tasks.node-exporter'
      type: 'A'
      port: 9100

  - job_name: 'traefik'
    dns_sd_configs:
    - names:
      # This A-Record is managed by Docker Swarm
      - 'tasks.traefik'
      type: 'A'
      port: 8080

  - job_name: 'loki'
    dns_sd_configs:
    - names:
      # This A-Record is managed by Docker Swarm
      - 'tasks.loki'
      type: 'A'
      port: 3100

  - job_name: 'promtail'
    dns_sd_configs:
    - names:
      # This A-Record is managed by Docker Swarm
      - 'tasks.promtail'
      type: 'A'
      port: 9080
{% endif %}

{% if 'minio' in apollo_apps %}
  - job_name: 'minio'
    dns_sd_configs:
      - names:
        # This A-Record is managed by Docker Swarm
        - 'tasks.minio'
        type: 'A'
        port: 9000
    metrics_path: /minio/prometheus/metrics
{% endif %}

{% if 'statping' in apollo_apps %}
  - job_name: 'statping'
    bearer_token: {{ admin_password }}
    dns_sd_configs:
    - names:
      - 'tasks.statping'
      type: 'A'
      port: 8080
{% endif %}

{% if runner_enabled|bool %}
  - job_name: 'giltlab-runner'
    dns_sd_configs:
    - names:
      # This A-Record is managed by Ansible in `playbooks/provision-node.yml`
      - 'nodes.apollo'
      type: 'A'
      port: 9252
{% endif %}

{% if apollo_data == "storidge" %}
  - job_name: 'cio-exporter'
    dns_sd_configs:
    - names:
      # This A-Record is managed by Docker Swarm
      - 'tasks.cio-exporter'
      type: 'A'
      port: 16995
{% endif %}

{% if prometheus_federation_enabled|bool %}
{% for space in apollo_federation_spaces %}
  - job_name: 'federate-{{ space.apollo_space }}'
    scrape_interval: 15s
    scrape_timeout: 7s
    honor_labels: true
    metrics_path: '/federate'
    basic_auth:
      username: munfred
      password: D7psPWqVVT7toJf
    params:
      'match[]':
        - '{job="prometheus"}'
        - '{__name__=~"job:.*"}'
    static_configs:
      - targets:
      - '{{ space.prometheus_domain }}'
        labels:
          apollo_space: {{ space.apollo_space }}
{% endfor %}

{% endif %}