.ssh
tmp
inventory/enventory.py
_deprecated/
playbooks/_deprecated
playbooks/_services.yml
playbooks/services
_README.md
docker/traefik
.env
terraform/.terraform
terraform/.dev
terraform/terraform.tfstate
terraform/variables.tf
./docker-compose.yml
.DS_Store
cio
.terraform/
*.tfstate
*.tfstate.backup
