version: '3.7'

services:
  cadvisor:
    image: gcr.io/google-containers/cadvisor:v0.36.0
    command: --logtostderr --docker_only --allow_dynamic_housekeeping=true --housekeeping_interval=10s
    networks: 
      - monitoring
    volumes: 
      - /:/rootfs
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
    deploy:
      mode: global
      restart_policy:
        condition: any
      placement:
        constraints: 
        - node.platform.os == linux

networks:
  monitoring:
    driver: overlay
    external: true