version: '3.7'

services:
  grafana:
    image: registry.gitlab.com/peter.saarland/zero/grafana
    environment:
      GF_SECURITY_ADMIN_USER: "{{ admin_user }}"
      GF_SECURITY_ADMIN_PASSWORD: "{{ admin_password }}"
      GF_USERS_ALLOW_SIGN_UP: "false"
    networks: 
      - proxy
      - monitoring
    volumes: 
      - grafana-data:/var/lib/grafana
    healthcheck:
      test: "wget -q -Y off -O /dev/null http://localhost:3000/login > /dev/null 2>&1"
      interval: 25s
      timeout: 3s
      start_period: 120s
    deploy:
      mode: replicated
      replicas: 1
      update_config:
        parallelism: 1
        delay: 60s
        monitor: 30s
        order: start-first
        failure_action: rollback
      restart_policy:
        condition: on-failure
      placement:
        constraints: 
        - "node.hostname == {{ hostvars[groups['manager'][0]]['ansible_hostname'] }}"
      labels:
        traefik.enable: "true"
        traefik.tags: "proxy"
        traefik.docker.network: "proxy"
        traefik.port: "3000"
        traefik.frontend.rule: "Host:grafana.{{ base_domain }}"
        traefik.backend: "zero-app-grafana"
        traefik.protocol: "http"
        traefik.backend.loadbalancer.stickiness: "true"
{% if letsencrypt_enabled|bool %}
        traefik.frontend.entryPoints: "http,https"
        traefik.frontend.headers.SSLRedirect: "true"
{% else %}
        traefik.frontend.entryPoints: "http"
{%endif%}

  trickster:
    image: tricksterio/trickster
    networks:
      - monitoring
    # healthcheck:
    #   test: "wget -q -Y off -O /dev/null http://localhost:9090/ping > /dev/null 2>&1"
    #   interval: 25s
    #   timeout: 3s
    #   start_period: 120s
    deploy:
      labels:
        prometheus.enable: "true"
        prometheus.port: "8082"
        prometheus.path: "/metrics"
      mode: replicated
      replicas: 1

networks:
  monitoring:
    driver: overlay
    external: true
  proxy:
    driver: overlay
    external: true

volumes:
  grafana-data:
{% if storidge_enabled|bool %}
    driver_config: 
        name: "cio"
        options:
          profile: "SNAPSHOT"
{% endif %}