route:
  receiver: 'slack'

receivers:
  - name: 'slack'
    slack_configs:
      - send_resolved: true
{% raw %}  
        text: "{{ .CommonAnnotations.description }}"
{% endraw %}
        username: "{{ slack_user }}"
        channel: "{{ slack_channel }}"
        api_url: "{{ slack_webhook }}"