version: '3.7'

services:
  alertmanager:
    image: {{ images.alertmanager }}
    environment:
      SLACK_URL: "{{ slack_webhook }}"
      SLACK_CHANNEL: "{{ slack_channel }}"
      SLACK_USER: "{{ slack_user }}"
    command: "--config.file=/etc/alertmanager/alertmanager.yml --storage.path=/alertmanager --web.external-url=http://prometheus.{{ platform_domain }}"
    networks: 
      - monitoring
    volumes: 
      - alertmanager-data:/alertmanager
    healthcheck:
      test: "/bin/wget -q -Y off http://localhost:9093/metrics -O /dev/null > /dev/null 2>&1"
      interval: 25s
      timeout: 3s
      start_period: 30s
    deploy:
      mode: replicated
      replicas: 1
      update_config:
        parallelism: 1
        delay: 60s
        monitor: 30s
        order: stop-first
        failure_action: rollback
      restart_policy:
        condition: on-failure
      placement:
        constraints: 
        - "node.hostname == {{ hostvars[groups['manager'][0]]['ansible_hostname'] }}"

networks:
  monitoring:
    driver: overlay
    external: true