resource "local_file" "Nodesfile" {
  filename = "Nodesfile.yml"
  content = <<EOF
  ingress:
    ipv4: ${length(hcloud_server.worker) > 0 ? hcloud_server.worker[0].ipv4_address : hcloud_server.manager[0].ipv4_address}
  management:
    ipv4: ${hcloud_server.manager[0].ipv4_address }
  manager:%{ for manager in hcloud_server.manager }
    - name: ${manager.name}
      ipv4: ${manager.ipv4_address}
      interface: eth0
%{ endfor }  worker:
    %{ for worker in hcloud_server.worker }
    - name: ${worker.name}
      ipv4: ${worker.ipv4_address}
      interface: eth0
    %{ endfor }
  EOF
}