# {{ ansible_managed }}
# Reason: https://github.com/systemd/systemd/issues/3374#issuecomment-452718898
# Destination: /etc/systemd/network/99-default.link

[Match]
Path=/devices/virtual/net/*

[Link]
NamePolicy=kernel database onboard slot path
MACAddressPolicy=none