[Unit]
Description=garbage-collector
Requires=docker.service network-online.target
After=docker.service network-online.target

[Service]
WorkingDirectory={{ app_dir }}
Type=oneshot
TimeoutStartSec=15min
User=root
Group=root
ExecStart={{ app_dir }}/apollo-gc
EnvironmentFile={{ app_dir }}/docker-gc.env
SyslogIdentifier=garbage-collector

[Install]
WantedBy=multi-user.target
