export APOLLO_VERSION={{ arc['space']['version'] }}
export APOLLO_VOLUMES_DIR={{ arc['data']['volumes_dir'] }}
export RESTIC_PASSWORD={{ arc['addons']['backup']['password'] }}
export RESTIC_REPOSITORY={{ arc['addons']['backup']['repository'] }}
export AWS_ACCESS_KEY_ID={{ arc['addons']['backup']['aws_access_key_id'] }}
export AWS_SECRET_ACCESS_KEY={{ arc['addons']['backup']['aws_secret_access_key'] }}
{% if arc['addons']['registry']['enabled'] %}
export APOLLO_REGISTRY_URL=registry.{{ arc['space']['space_domain'] }}
{% endif %}