{
{% for host in groups['cluster'] %}
    "{{ hostvars[host].ansible_hostname }}": {
        "address": "{{ hostvars[host]['cluster_ip'] }}",
        "visible": true,
        "color": "rgb(100, 200, 0)",
        "user": "root"
    },
{% endfor %}
}