version: '3.7'

services:
  loki:
    image: grafana/loki:1.4.1
    command: -config.file=/etc/loki/local-config.yaml
    networks: 
      - proxy
      - monitoring
    ports:
      - 3100:3100
    volumes: 
      - loki-data:/tmp/loki
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
      placement:
        constraints: 
        - "node.hostname == {{ hostvars[groups['manager'][0]]['ansible_hostname'] }}"
      labels:
        traefik.enable: "true"
        traefik.tags: "proxy"
        traefik.docker.network: "proxy"
        traefik.port: "3100"
        traefik.frontend.rule: "Host:logs.{{ platform_domain }}"
        traefik.backend: "zero-app-loki"
        traefik.protocol: "http"
        traefik.backend.loadbalancer.stickiness: "true"
{% if letsencrypt_enabled|bool %}
        traefik.frontend.entryPoints: "http,https"
        traefik.frontend.headers.SSLRedirect: "true"
{% else %}
        traefik.frontend.entryPoints: "http"
{%endif%}

  promtail:
    image: grafana/promtail:1.4.1
    command: -config.file=/etc/promtail/docker-config.yaml
    networks:
      - monitoring
    volumes:
      - /var/log:/var/log
    deploy:
      mode: global
      restart_policy:
        condition: on-failure
      placement:
        constraints: 
        - node.platform.os == linux

networks:
  monitoring:
    driver: overlay
    attachable: true
    name: monitoring
  proxy:
    driver: overlay
    external: true

volumes:
  loki-data:
{% if apollo_data == "storidge" %}
    driver: cio
    driver_opts: 
      profile: "SNAPSHOT"
{% endif %}