alertmanager:
  interval: 60s
  servers:
    - name: {{ arc['space']['name'] }}
      cluster: {{ arc['space']['name'] }}
      uri: http://{{ apollo_manager }}:9093
      external_uri: https://alerts.{{ arc['space']['space_domain'] }}:8443
      timeout: 10s
      proxy: true
      readonly: false

karma:
  name: {{ arc['space']['name'] }}

listen:
  address: "0.0.0.0"
  port: 9010
  prefix: /