This node is managed by apollo. Learn more: https://gitlab.com/p3r.one/apollo

- APOLLO_VERSION={{ apollo_version }}
- APOLLO_SPACE={{ apollo_space }}
- APOLLO_BASE_DOMAIN={{ base_domain }}
- APOLLO_INGRESS_IP={{ apollo_ingress_ip }}
- APOLLO_MANAGEMENT_IP={{ apollo_management_ip }}
- HOSTNAME={{ ansible_hostname }}
