
                           888 888              
                           888 888              
                           888 888              
 8888b.  88888b.   .d88b.  888 888  .d88b.      
    "88b 888 "88b d88""88b 888 888 d88""88b     
.d888888 888  888 888  888 888 888 888  888     
888  888 888 d88P Y88..88P 888 888 Y88..88P d8b 
"Y888888 88888P"   "Y88P"  888 888  "Y88P"  Y8P 
         888                                    
         888                                    
         888                                                               

This node is managed by "apollo". Learn more: https://www.peter.saarland/zero-application-platform

APOLLO_VERSION={{ apollo_version }}
APOLLO_SPACE={{ apollo_space }}
APOLLO_BASE_DOMAIN={{ base_domain }}
APOLLO_INGRESS_IP={{ ingress_ip }}
HOSTNAME={{ ansible_hostname }}
