# If you come from bash you might have to change your $PATH.
export GOPATH=$HOME/go
export PATH=$HOME/bin:/usr/local/bin:$GOPATH/bin:/usr/local/opt/make/libexec/gnubin:$PATH
export ZSH="$HOME/.oh-my-zsh"

# TODO: load this from a textfile placed in /srv/.apollo/.arc
export APOLLO_SPACE={{ arc['space']['name'] }}
export APOLLO_SPACE_VERSION={{ arc['space']['version'] }}

ZSH_THEME="flazz"

plugins=(
	git
	zsh-autosuggestions
	zsh-completions
  zsh-syntax-highlighting
  fzf
)

# zsh-completions
autoload -U compinit && compinit

source $ZSH/oh-my-zsh.sh

[ -f $ZSH/plugins/fzf-tab-completion/zsh/fzf-zsh-completion.sh ] && source $ZSH/plugins/fzf-tab-completion/zsh/fzf-zsh-completion.sh
[ -f $ZSH/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh ] && source $ZSH/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

# ALIASES

# Generic commands
alias reload="source ~/.zshrc"
alias ls='lsd'
alias grep='grep --color'
alias zshrc="nano ~/.zshrc"
alias -g Z='| fzf'
alias logs='tail -fn 200 /var/log/syslog'
alias less="bat"

export PROMPT='%{$fg[green]%}%m%{$reset_color%}@%{$fg_bold[cyan]%}${APOLLO_SPACE_VERSION}%{$reset_color%}%{${fg_bold[magenta]}%} :: %{$reset_color%}%{${fg[green]}%}%c $(git_prompt_info)%{${fg_bold[$CARETCOLOR]}%}%#%{${reset_color}%} '
export ZSH_THEME_GIT_PROMPT_PREFIX="%{$fg_bold[cyan]%}"
export ZSH_THEME_GIT_PROMPT_SUFFIX=" %{$reset_color%}"