version: '3.7'

services:
  cio-exporter:
    image: {{ images.cio_prom }}
    networks: 
      - monitoring
    ports:
      - "16995:16995"
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
      placement:
        constraints: 
        - node.role == manager

networks:
  monitoring:
    driver: overlay
    external: true