provider "digitalocean" {
  token = "{{ arc['providers']['digitalocean']['auth']['token'] }}"
}

resource "digitalocean_tag" "provider" {
  name = "apollo"
}

resource "digitalocean_tag" "space" {
  name = "{{ arc['space']['name'] }}"
}

locals {
  all_tags = [digitalocean_tag.provider.id, digitalocean_tag.space.id]
}

resource "digitalocean_ssh_key" "ssh_key" {
  name       = "{{ arc['space']['name'] }}-ssh"
  public_key = file(".ssh/id_rsa.pub")
}

resource "digitalocean_droplet" "manager" {
  count              = {{ arc['infrastructure']['manager']['count'] | default(1, 0) }}
  name               = join("-",["manager",count.index])
  image              = "{{ arc['infrastructure']['manager']['os_family'] | default('ubuntu-18-04-x64', true) }}"
  region             = "fra1"
  size               = "{{ arc['infrastructure']['manager']['size'] | default('s-2vcpu-4gb', true) }}"
  ssh_keys           = [digitalocean_ssh_key.ssh_key.fingerprint]
  private_networking = true
  vpc_uuid           = digitalocean_vpc.cluster_network.id
  backups            = false
  monitoring         = false
  ipv6               = true
  tags               = local.all_tags
}

resource "digitalocean_droplet" "worker" {
  count              = {{ arc['infrastructure']['worker']['count'] | default(0,true) }}
  name               = join("-",["worker",count.index])
  image              = "{{ arc['infrastructure']['manager']['os_family'] | default('ubuntu-18-04-x64', true) }}"
  region             = "fra1"
  size               = "{{ arc['infrastructure']['worker']['size'] | default('s-2vcpu-4gb', true) }}"
  ssh_keys           = [digitalocean_ssh_key.ssh_key.fingerprint]
  private_networking = true
  vpc_uuid           = digitalocean_vpc.cluster_network.id
  backups            = false
  monitoring         = false
  ipv6               = true
  tags               = local.all_tags
}

{% if arc['data']['provider'] in ['cio', 'storidge'] %}
resource "digitalocean_volume" "manager" {
  region      = "fra1"
  count       = {{ arc['infrastructure']['manager']['volume_count'] | default(0, true) }} * {{ arc['infrastructure']['manager']['count'] | default(0, true) }}
  name        = "{{ arc['space']['name'] }}-manager-vol-${count.index}"
  size        = "{{ arc['infrastructure']['manager']['volume_size'] | default(0, true) }}"
  description = "{{ arc['space']['name'] }}-manager-vol-${count.index}"
  tags        = local.all_tags
}

resource "digitalocean_volume_attachment" "manager" {
  count      = {{ arc['infrastructure']['manager']['volume_count'] | default(0, true) }} * {{ arc['infrastructure']['manager']['count'] | default(0, true) }}
  droplet_id = element(digitalocean_droplet.manager.*.id, floor(count.index % {{ arc['infrastructure']['manager']['count'] | default(0, true) }}))
  volume_id  = element(digitalocean_volume.manager.*.id, count.index)
}

resource "digitalocean_volume" "worker" {
  region      = "fra1"
  count       = {{ arc['infrastructure']['worker']['volume_count'] | default(0, true) }} * {{ arc['infrastructure']['worker']['count'] | default(0, true) }}
  name        = "{{ arc['space']['name'] }}-worker-vol-${count.index}"
  size        = "{{ arc['infrastructure']['worker']['volume_size'] | default(0, true) }}"
  description = "{{ arc['space']['name'] }}-manager-vol-${count.index}"
  tags        = local.all_tags
}

resource "digitalocean_volume_attachment" "worker" {
  count      = {{ arc['infrastructure']['worker']['volume_count'] | default(0, true) }} * {{ arc['infrastructure']['worker']['count'] | default(0, true) }}
  droplet_id = element(digitalocean_droplet.worker.*.id, floor(count.index / {{ arc['infrastructure']['worker']['count'] | default(0, true) }}))
  volume_id  = element(digitalocean_volume.worker.*.id, count.index)
}
{% endif %}

resource "digitalocean_vpc" "cluster_network" {
  name = "{{ arc['space']['name'] }}-net"
  region   = "fra1"
  ip_range =  "10.16.0.0/16"
}