resource "local_file" "Nodesfile" {
  filename = "Nodesfile.yml"
  content = <<EOF
  ingress:
    ipv4: ${length(digitalocean_droplet.worker) > 0 ? digitalocean_droplet.worker[0].ipv4_address : digitalocean_droplet.manager[0].ipv4_address}
  management:
    ipv4: ${digitalocean_droplet.manager[0].ipv4_address }
  manager:%{ for manager in digitalocean_droplet.manager }
    - name: ${manager.name}
      ipv4: ${manager.ipv4_address}
      interface: eth0
%{ endfor }  worker:%{ for worker in digitalocean_droplet.worker }
    - name: ${worker.name}
      ipv4: ${worker.ipv4_address}
      interface: eth0
    %{ endfor }
  EOF
}