{
  "metrics-addr" : "0.0.0.0:9323",
  "experimental" : true,
  "debug": true,
  "log-driver": "loki:latest",
    "log-opts": {
        "loki-url": "http://logs/loki/api/v1/push",
        "loki-batch-size": "400"
    }
}