# {{ apollo_space }}

## Authentication

apollo uses Basic Authentication to authenticate access on backplane services:

- Username: {{ admin_user }}
- Password: {{ admin_password }}

## DNS Setup

- Base Domain: {{ base_domain }}
- Space Domain: {{ space_domain }}
- Ingress IP: {{ ingress_ip }}

By default, apollo expects ingress traffic to land on the worker nodes which is why `INGRESS_IP` defaults to `worker-0`'s IP.

To make this space work, please add the following records to your DNS zone:

```
{{ apollo_space }} IN A {{ ingress_ip }}
*.{{ apollo_space }} IN A {{ ingress_ip }}
```

## Access

### SSH

A set of SSH-Keys belonging to this space can be found in `.ssh/`. The keys can be used to connect as user **root** to any of the IPs in `APOLLO_NODES_MANAGER` or `APOLLO_NODES_WORKER`:

{% for host in groups['all'] %}
* {{ host }}: {{ hostvars[host]['ansible_'+public_iface]['ipv4']['address'] }}
{% endfor %}

Assuming you cloned the repository and work from its local directory, you can connect via ssh like this:

`ssh -l root -i .ssh/id_rsa {{ space_domain }}`

Once connected, you can reach any other node in the cluster by simply doing `ssh manager-0` etc.

{% if backplane_enabled|bool %}
### Web

You can reach any of the backplane services through its webinterface. Use `APOLLO_ADMIN_USER` and `APOLLO_ADMIN_PASSWORD` to authenticate.

- [Portainer](http://portainer.{{ space_domain }})
- [Grafana](http://grafana.{{ space_domain }})
- [Traefik](http://proxy.{{ space_domain }})
- [Prometheus](http://prometheus.{{ space_domain }})
{% endif %}
