version: '3.7'

services:
  minio:
    image: "{{ images.minio }}"
    command: server /data
    environment:
      MINIO_ACCESS_KEY: "{{ admin_user }}"
      MINIO_SECRET_KEY: "{{ admin_password }}"
      MINIO_DOMAIN: "minio.{{ platform_domain }}"
      MINIO_PROMETHEUS_AUTH_TYPE: "public"
    networks: 
      - proxy
      - monitoring
      - s3
    volumes: 
      - minio-data:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: any
      placement:
        constraints: 
        - "node.hostname == {{ hostvars[groups['manager'][0]]['ansible_hostname'] }}"
      labels:
        traefik.enable: "true"
        traefik.tags: "proxy"
        traefik.docker.network: "proxy"
        traefik.port: "9000"
        traefik.frontend.rule: "Host:minio.{{ platform_domain }}"
        traefik.backend: "zero-app-minio"
        traefik.protocol: "http"
        traefik.backend.loadbalancer.stickiness: "true"
        traefik.frontend.passHostHeader: "true"
{% if letsencrypt_enabled|bool %}
        traefik.frontend.entryPoints: "http,https"
        traefik.frontend.headers.SSLRedirect: "true"
        traefik.frontend.headers.STSSeconds: "31536000"
        traefik.frontend.headers.STSIncludeSubdomains: "true"
        traefik.frontend.headers.STSPreload: "true"
{% else %}
        traefik.frontend.entryPoints: "http"
{%endif%}

networks:
  s3:
    driver: overlay
    attachable: true
    name: s3
  monitoring:
    driver: overlay
    external: true
  proxy:
    driver: overlay
    external: true

volumes:
  minio-data: