[Unit]                                                                                          
Description=Grafana instance                                                                    
Documentation=http://docs.grafana.org                                                           
Wants=network-online.target                                                                     
After=network-online.target                                                                     
                                                                                                
[Service]                                                                                       
EnvironmentFile={{ app_dir}}/grafana_environment
User=root                                                                                    
Group=root                                                                                   
Type=simple                                                                                     
Restart=on-failure                                                                              
WorkingDirectory={{ app_dir}}
RuntimeDirectory=grafana                                                                        
RuntimeDirectoryMode=0750                                                                       
ExecStart=/usr/local/bin/grafana-server \
                            --config=${CONF_FILE} \
                            --homepath={{ app_dir }} \
                            --pidfile=${PID_FILE_DIR}/grafana-server.pid \
                                                                                                
                                                                                                
LimitNOFILE=10000                                                                               
TimeoutStopSec=20                                                                               
UMask=0027   
[Install]
WantedBy=multi-user.target  