version: '3.7'

services:
  lake0:
    image: "{{ images.lake0 }}"
    environment:
      RESTIC_REPOSITORY: "{{ arc['backups']['restic_repository'] }}"
      RESTIC_PASSWORD: "{{ arc['backups']['restic_password'] }}"
      RESTIC_TAG: "{{ arc['space']['name'] }}"
      BACKUP_CRON: "{{ arc['backups']['restic_backup_cron'] }}"
      RESTIC_FORGET_ARGS: "{{ arc['backups']['restic_forget_args'] }}"
      RESTIC_JOB_ARGS: "{{ arc['backups']['restic_job_args'] }}"
      AWS_ACCESS_KEY_ID: "{{ arc['backups']['aws_access_key_id'] }}"
      AWS_SECRET_ACCESS_KEY: "{{ arc['backups']['aws_secret_access_key'] }}"
    networks: 
      - monitoring
    volumes: 
{% if arc['data']['provider'] == "storidge" %}
      - /cio/volumes:/data
{% else %}
      - /var/lib/docker/volumes:/data
{% endif %}
    deploy:
      mode: global
      restart_policy:
        condition: any

networks:
  monitoring:
    driver: overlay
    external: true