[Unit]
Description=promtail
After=network-online.target

[Service]
Type=simple
User={{ _promtail_system_user }}
Group={{ _promtail_system_group }}
ExecStart={{ _promtail_binary_install_dir }}/promtail \
        -config.file {{ app_dir }}/promtail-config.yml

SyslogIdentifier=promtail
Restart=always
RestartSec=1
StartLimitInterval=0

[Install]
WantedBy=multi-user.target