[Unit]
Description=blackbox_exporter
After=network-online.target

[Service]
Type=simple
User=apollo
Group=apollo
ExecStart={{ apollo_binary_dir }}/blackbox_exporter \
    --config.file={{ app_dir }}/blackbox_exporter.yml

SyslogIdentifier=blackbox_exporter
Restart=always
RestartSec=1
StartLimitInterval=0

[Install]
WantedBy=multi-user.target