version: '3.7'

services:
  blackbox-exporter:
    image: "{{ images.blackbox }}"
    command:
      "--config.file=/etc/blackbox-exporter/blackbox.yml"
    networks:
      - monitoring
    ports:
      - "9115:9115"
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
        - "node.hostname == {{ hostvars[groups['manager'][0]]['ansible_hostname'] }}"
    volumes:
      - "{{ app_dir }}:/etc/blackbox-exporter"

networks:
  monitoring:
    driver: overlay
    external: true
  proxy:
    driver: overlay
    external: true

volumes:
  prometheus-data:
  victoria-data:
  blackbox-exporter: