{
  "metrics-addr" : "0.0.0.0:9323",
  "experimental" : true,
  {% if kubernetes_enabled|bool %}
  "exec-opts": ["native.cgroupdriver=systemd"],
  {% endif %}
  {% if backplane_enabled|bool %}
  "log-driver": "loki:latest",
  "log-opts": {
      "loki-url": "http://logs.{{ base_domain }}/loki/api/v1/push",
      "loki-batch-size": "400",
      "max-size": "50m",    
      "max-file": "5",
      "loki-min-backoff": "10s",
      "loki-retries": "5",
      "loki-timeout": "5s",
      "loki-batch-wait": "5s"
  },
  {% endif %}
  "debug": false
}